<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pattons_Best.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pattons_Best.Properties.Settings>
            <setting name="ZoomCanvas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ScrollViewerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScrollViewerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDirectoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowPlacement" serializeAs="String">
                <value />
            </setting>
        </Pattons_Best.Properties.Settings>
    </userSettings>
</configuration>